package components

templ NavbarTitle() {
	<div class="flex">
	    <p class="text-blue-500 text-3xl font-medium">QuizWars <span class="text-primary text-2xl font-light">Admin Panel</span></p>
	</div>
}