package buttons

import (
	"github.com/axzilla/templui/component/button"
)

templ NavbarLoginButton(redirectURL string) {
	@button.Button(button.Props{
    	Variant: "default",
    	Href:    redirectURL,
    }) {
    	Login
    }
}