package buttons

import (
	"github.com/axzilla/templui/component/button"
)

templ NavbarLogoutButton(redirectURL string) {
	@button.Button(button.Props{
    	Variant: button.VariantOutline,
    	Href:    redirectURL,
    }) {
    	Logout
    }
}